@font-face {
	font-family: 'HVMuse-Regular';
	src: url('/fonts/hv-muse-regular.eot');
	src: url('/fonts/hv-muse-regular.eot?#iefix') format('embedded-opentype'),
             url('/fonts/hv-muse-regular.woff2') format('woff2'),
	     url('/fonts/hv-muse-regular.woff') format('woff'),
	     url('/fonts/hv-muse-regular.ttf') format('truetype'),
	     url('/fonts/hv-muse-regular.svg#youworkforthem') format('svg');
	font-weight: normal;
	font-style: normal;
}

.muse {
  font-family: $muse !important;
}