.logo {
  height: 93px;
  width: 300px;
  max-width: 100%;
  position: relative;
  mask-image: url('/img/logo.svg');
  -webkit-mask-image: url('/img/logo.svg');
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-size: contain;
  -webkit-mask-size: contain;
  &:before {
    background-color: rgb(50, 50, 50);
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}