{{ define "main" }}
  {{ $image := "" }}
  {{ $slug := .Title | urlize }}
  <main class="pb-5">
    <div class="container">
      {{ partial "breadcrumbs.html" . }}
      <h1 class="display-4 mb-4 mt-5 muse">{{ .Title }}</h1>
      {{ if eq .Type "paintings" }}
        {{ $image = resources.Get .Params.featured_image }}
        <div class="row">
          <div class="col-xl-8 mb-4 mb-xl-0">
            <img class="w-100 shadow-lg" src='{{ ( $image.Fit "2000x2000 Center" ).RelPermalink }}' alt="" />
          </div>
          <div class="col-xl-4">
            <p>
              Oil on Canvas
              {{ if and .Params.height .Params.width }}
                <br>{{ .Params.height }}" x {{ .Params.width }}"
              {{ end }}
              {{ if eq .Params.framing true }}
                <br>Gallery-Wrapped Canvas
              {{ end }}
            </p>
            {{ partial "terms.html" (dict "taxonomy" "collections" "page" .) }}
          </div>
        </div>        
      {{ else }}
        {{ partial "terms.html" (dict "taxonomy" "collections" "page" .) }}
        {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
        {{ $dateHuman := .Date | time.Format ":date_long" }}
        <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
        {{ .Content }}
      {{ end }}
    </div>
  </main>
{{ end }}
