{{ define "main" }}
  {{ $myCollection := "" }}
  {{ $tagPages := "" }}
  {{ $firstImage := "" }}
  {{ $linkToPage := "" }}
  <section class="py-5">
    <div class="container">
      <h1>{{ .Title }}</h1>
      {{ .Content }}
      <div class="row gx-4">
        {{ range .Data.Terms.ByCount }}
          {{ $linkToPage = .Page.RelPermalink }}
          <div class="col-lg-6 col-xl-4 mb-4">
            {{ range first 1 .WeightedPages }}
              {{ $firstImage = resources.Get .Params.featured_image }}
              {{ with $firstImage }}
                <a href="{{ $linkToPage }}"><img class="mw-100" src="{{ ( $firstImage.Fill "960x640 Center" ).RelPermalink }}" /></a>
              {{ end }}
            {{ end }}
            <h2><a href="{{ $linkToPage }}">{{ .Page.LinkTitle }}</a> ({{ .Count }})</h2>
          </div>
        {{ end }}
      </div>
    </div>
  </section>
{{ end }}