{{ define "main" }}
  {{ $myCollection := "" }}
  {{ $tagPages := "" }}
  {{ $firstImage := "" }}
  {{ $linkToPage := "" }}
  {{ $linkTitle := "" }}
  {{ $count := "" }}
  <section aria-labelledby="taxonomy-label" class="pb-5">
    <div class="container">
      {{ partial "breadcrumbs.html" . }}
      <h1 id="taxonomy-label" class="display-4 mb-5 mt-5 muse">{{ .Title }}</h1>
      <div class="row gx-4">
        {{ range .Data.Terms.ByCount }}
          {{ $linkToPage = .Page.RelPermalink }}
          {{ $linkTitle = .Page.LinkTitle }}
          {{ $count = .Count }}
          <div class="col-md-6 col-xl-4 mb-4">
            <div class="ratio ratio-1x1">
              {{ range first 1 .WeightedPages }}
                {{ $firstImage = resources.Get .Params.featured_image }}
                {{ $title := .Params.title }}
                {{ with $firstImage }}
                  <img class="mw-100" alt="Painting of {{ $title }}" src="{{ ( $firstImage.Fill "960x960 Center" ).RelPermalink }}" />
                  <a class="stretched-link d-inline-block text-decoration-none lh-1" href="{{ $linkToPage }}"><span class="bg-dark text-white p-2 d-inline-block">{{ replace $linkTitle "-" " " }} <span class="badge bg-light text-dark">{{ $count }}</span></span></a>
                {{ end }}
              {{ end }}
            </div>
          </div>
        {{ end }}
      </div>
    </div>
  </section>
{{ end }}