{{ define "main" }}
  {{ $myCollection := "" }}
  {{ $tagPages := "" }}
  {{ $firstImage := "" }}
  {{ $linkToPage := "" }}
  {{ $linkTitle := "" }}
  {{ $count := "" }}
  <section class="py-5">
    <div class="container">
      <h1 class="display-4 mb-4">{{ .Title }}</h1>
      {{ .Content }}
      <div class="row gx-4">
        {{ range .Data.Terms.ByCount }}
          {{ $linkToPage = .Page.RelPermalink }}
          {{ $linkTitle = .Page.LinkTitle }}
          {{ $count = .Count }}
          <div class="col-md-6 col-xl-4 mb-4">
            <div class="ratio ratio-1x1">
              {{ range first 1 .WeightedPages }}
                {{ $firstImage = resources.Get .Params.featured_image }}
                {{ with $firstImage }}
                  <img class="mw-100" src="{{ ( $firstImage.Fill "960x960 Center" ).RelPermalink }}" />
                  <a class="stretched-link d-inline-block text-decoration-none" href="{{ $linkToPage }}"><span class="bg-dark text-white p-2">{{ $linkTitle }}</span></a> ({{ $count }})
                {{ end }}
              {{ end }}
            </div>
          </div>
        {{ end }}
      </div>
    </div>
  </section>
{{ end }}