<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode site.Language.Lang }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
  {{- $bootstrap := resources.Get "js/vendor/bootstrap/bootstrap.bundle.min.js" }}
  <head>
    {{ partial "head.html" . }}
  </head>
  {{ with site.Data.settings.google_analytics_id }}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ . }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '{{ . }}');
    </script>
  {{ end }}
  <body>
    <header>
      {{ partial "header.html" . }}
    </header>
    {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
    
    {{ block "main" . }}{{ end }}

    {{ if .IsHome }}
      {{ partial "commission.html" . }}
    {{ end }}
    
    <footer>
      {{ partial "footer.html" . }}
    </footer>

    <script type="application/javascript" src="{{ $bootstrap.Permalink }}"></script>

  </body>

  <script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", (user) => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>
</html>
