<footer class="py-5 bg-dark text-white">
  <div class="container position-relative py-5 text-center">
    <a class="mb-5 p-4 text-decoration-none muse text-white d-flex justify-content-center align-items-center" href="/">
      <img class="me-2" src="/img/logo.svg" width="50px;" alt="H logo" />
      <div>
        <span class="h2 d-block mb-1">{{ site.Title }}</span>
        <span class="text-uppercase d-block hj-text-letter-spacing-4 text-center">{{ .Site.Params.subtitle }}</span>
      </div>
    </a>    
    <ul class="list-inline">
      <li class="list-inline-item"><a class="text-white text-decoration-none" href="/">Home</a></li>
      <li class="list-inline-item"><a class="text-white text-decoration-none" href="/paintings">All Paintings</a></li>
      <li class="list-inline-item"><a class="text-white text-decoration-none" href="/collections">Browse by Collection</a></li>
      <li class="list-inline-item"><a class="text-white text-decoration-none" href="/about">About</a></li>
    </ul>
    <ul class="list-inline">
      <li class="list-inline-item"><a class="text-white text-decoration-none" href="mailto:email@email.com"><span class="fas fa-envelope"></span> email@email.com</a></li>
      <li class="list-inline-item"><a class="text-white text-decoration-none" href="#"><span class="fab fa-facebook"></span> Facebook</a></li>
    </ul>
    <p class="small">Copyright &copy; Heather Heiskell Jones {{ now.Year }}. All rights reserved.</p>
  </div>
</footer>

