<footer class="py-5 bg-dark text-white">
  <div class="container position-relative py-5 text-center">
    <div class="d-flex justify-content-center">
      <div class="logo logo-white mb-5 mx-3 mx-md-auto"><span class="visually-hidden">{{ site.Title }}</span></div>
    </div>
    <ul class="list-inline">
      <li class="list-inline-item"><a class="text-white text-decoration-none" href="/">Home</a></li>
      <li class="list-inline-item"><a class="text-white text-decoration-none" href="/paintings">All Paintings</a></li>
      <li class="list-inline-item"><a class="text-white text-decoration-none" href="/collections">Browse by Collection</a></li>
      <li class="list-inline-item"><a class="text-white text-decoration-none" href="/about">About</a></li>
    </ul>
    <ul class="list-inline">
      <li class="list-inline-item"><a class="text-white text-decoration-none" href="mailto:email@email.com"><span class="fas fa-envelope"></span> email@email.com</a></li>
      <li class="list-inline-item"><a class="text-white text-decoration-none" href="#"><span class="fab fa-facebook"></span> Facebook</a></li>
    </ul>
    <p class="small">Copyright &copy; Heather Heiskell Jones {{ now.Year }}. All rights reserved.</p>
  </div>
</footer>

