{{ $image := "" }}
{{ $slug := .Title | urlize }}
{{ $imageHeight := "" }}
{{ $imageWidth := "" }}
{{ $imageRatio := "" }}
{{ $title := .Title }}
<div class="col-lg-6 col-xl-4 mb-4">
  {{ with .Params.featured_image }}
    {{ $image = resources.Get . }}
    {{ with resources.Get $image }}
      {{ $imageHeight = float .Height }}
      {{ $imageWidth = float .Width }}
      {{ $imageRatio = div $imageHeight $imageWidth }}
      {{ $imageRatio = mul $imageRatio 100 }}
    {{ end }}
    <div class="position-relative mb-2 ratio" style="--bs-aspect-ratio: {{ $imageRatio }}%">
      <img alt="Painting of {{ $title }}" loading="lazy" data-bs-toggle="modal" data-bs-target="#{{ $slug }}-modal" class="w-100" src='{{ ( $image.Fit "960x640 Center" ).RelPermalink }}' />
    </div>
  {{ end }}
  <div class="row">    
    <div class="col-md-6">
      <h2 class="h4 muse mb-1">{{ .Params.Title }}</h2>
      <p class="small">
        Oil on Canvas
        {{ if and .Params.height .Params.width }}
          <br>{{ .Params.height }}" x {{ .Params.width }}"
        {{ end }}
        {{ if eq .Params.framing true }}
          <br>Gallery-Wrapped Canvas
        {{ else }}
          <br>Unframed
        {{ end }}
      </p>
    </div>
    <div class="col-md-6 mb-4 mb-md-0">
      {{ if ne .Params.sold true }}
        <p class="mb-0 text-md-end mb-2 h5 fw-bold">${{ .Params.price }}</p>
      {{ else }}
        <div class="text-danger text-uppercase h5 fw-bold text-md-end">Sold</div>
      {{ end }}
      {{ if ne .Params.sold true }}
        <div class="d-md-flex justify-content-end">
          <div class="btn-group my-auto">
            <button class="snipcart-add-item btn btn-dark btn-sm"
              data-item-id="{{ $slug }}"
              data-item-price="{{ .Params.price }}"
              data-item-description="Oil on canvas{{ if and .Params.width .Params.height }}, {{ .Params.height }} x {{ .Params.width }}{{ end }}{{ if eq .Params.framing true }}, gallery-wrapped canvas{{ else }}, unframed{{ end }}"
              {{ if .Params.width }}
                data-item-width="{{ .Params.width }}"
              {{ end }}
              {{ if .Params.height }}
                data-item-height="{{ .Params.height }}"
              {{ end }}
              {{ with .Params.featured_image }}
                {{ $image = resources.Get . }}
                data-item-image="{{ ( $image.Fit "200x200 Center" ).RelPermalink }}"
              {{ end }}
              data-item-name="{{ .Title }}"
              data-item-max-quantity="1"
              data-item-url="{{ .RelPermalink }}"
              data-item-max-quantity="1"
            >
              <span class="fas fa-plus"></span> Add to Cart
            </button>
            <a class="btn btn-outline-dark btn-sm" href="{{ .RelPermalink }}">View Page</a>
          </div>
        </div>
      {{ else }}
        <div class="d-flex justify-content-end">
          <a class="btn btn-outline-dark btn-sm" href="{{ .RelPermalink }}">View Page</a>
        </div>
      {{ end }}
    </div>
  </div>
  <div class="modal fade" id="{{ $slug }}-modal" tabindex="-1" aria-labelledby="{{ $slug }}-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title h1 muse" id="{{ $slug }}-modal-label">{{ .Title }}</h2>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          {{ with .Params.featured_image }}
            {{ $image = resources.Get . }}
            <img loading="lazy" class="w-100" src='{{ ( $image.Fit "2000x2000 Center" ).RelPermalink }}' />
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</div>